<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.growtive.workspace.mapper.WorkspaceMapper">

    <select id="findOwnerUserId" resultType="long">
        SELECT owner_user_id
        FROM workspaces
        WHERE id = #{workspaceId}
            LIMIT 1
    </select>

</mapper>
