<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.growtive.money.mapper.FinancialSummaryMapper">

    <select id="sumIncome" resultType="java.lang.Long">
        SELECT COALESCE(SUM(monthly_amount),0)
        FROM financial_node_snapshot
        WHERE user_id = #{userId, jdbcType=VARCHAR}
                  AND year = #{year}
                  AND month = #{month}
          AND type = 'INCOME'
    </select>

    <select id="sumExpense" resultType="java.lang.Long">
        SELECT COALESCE(SUM(monthly_amount),0)
        FROM financial_node_snapshot
        WHERE user_id = #{userId, jdbcType=VARCHAR}
                  AND year = #{year}
                  AND month = #{month}
          AND type = 'EXPENSE'
    </select>

    <select id="sumAssetInvestment" resultType="java.lang.Long">
        SELECT COALESCE(SUM(monthly_amount),0)
        FROM financial_node_snapshot
        WHERE user_id = #{userId, jdbcType=VARCHAR}
                  AND year = #{year}
                  AND month = #{month}
          AND type = 'ASSET'
    </select>

</mapper>